<html>
        <body>
                <form method="post" class="create-post" id="create-post" enctype="multipart/form-data">
                    {% if page=='post' %}
                        <input type="hidden" id="replyId" name="replyId" value="{{ post.postId }}">
                    {% endif %}
                    <textarea name="post-text" id="post-text" class="text-area-form"></textarea>
                    <div display="flex">
                        <input type="file" name="uploadImage" id="uploadImage" onchange="return ValidateFileUpload()" />
                        <button id="submit-post" type="submit">Post</button>
                        <charecters id="char">0</charecters> out of 500 charecters
                    </div>
                </form>
        </body>
</html>

<script>
    document.getElementById("post-text").value=""
    document.getElementById("post-text").addEventListener('input', function () {
        count = this.value.length;
        document.getElementById("char").innerHTML=count
        if (count > 500){
            document.getElementById("submit-post").disabled = true
        }
        else{
            document.getElementById("submit-post").disabled = false
        }
    });

    $('#uploadImage').wrap('<form>').closest('form').get(0).reset();
    $('#uploadImage').unwrap();
    imgfile = document.querySelector('#uploadImage')
    //  when an instance of the create post form has been submitted instead of reloading the page it will instead carry out this function
    $(document).on('submit','#create-post',function(e)
    {
        //  this blocks the normal procedure for when a post is submitted (the page gets reloaded as a post request)
        e.preventDefault();
        if (imgfile.files[0] == undefined){
            $.ajax({
            type:'POST',
            url:'/create-post/',
            data:{
              text:$("#post-text").val(),
              replyId:$("#replyId").val()
            },
            success:function(response){

            }
          })
        }
        else{
            var formData = new FormData(this);
            $.ajax({
                type:'POST',
                url:'/create-post/img/',
                data: formData,
                success:function(response){

                },
                cache: false,
                contentType: false,
                processData: false
        });
        }

    });

    imgfile.onchange = () => {
        console.log(imgfile.files)
        if (imgfile.files[0].type!=="image/jpeg" && imgfile.files[0].type!=="image/png"){
            alert("The image must have the file type of either jpeg, jpg or png")
            $('#uploadImage').wrap('<form>').closest('form').get(0).reset();
            $('#uploadImage').unwrap();
        }
        else if (imgfile.files[0].size > 5242880){
            alert("The image must be less than 5MBs")
            $('#uploadImage').wrap('<form>').closest('form').get(0).reset();
            $('#uploadImage').unwrap();
        }

    }

</script>