<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Navbar</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/flex2.css') }}">
    </head>
<body>
    <ul class = "navigation">
        <li class="title">GREEN GROUND</li>
        <li><a href="/feed/">Feed</a></li>
        <li><a href="/discover/">Discover</a></li>
        <li><a href="/profile/">profile</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="/logout/">Log Out</a></li>
    </ul>
</body>
</html>