<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Navbar</title>
    </head>
<body>
    <div class = "sidenav">
        <div class="title">GREEN GROUND</div>
        {% if userSession != None %}
            <a href="/feed/">Feed</a>
            <a href="/discover/">Discover</a>
            <a href="/profile/{{ userSession.user_id }}">Profile</a>
            <a href="/notifications/">Notifications</a>
            <a href="/settings/">Settings</a>
            <a href="/logout/">Log Out</a>
            {% if userSession.role == "mod" %}
                <a href="/report/view/">View Reports</a>
            {% endif %}
        {% else %}
            <a href="/discover/">Discover</a>
            <a href="/login/">Log In</a>
            <a href="/register/">Register</a>
        {% endif %}
    </div>
</body>
</html>