<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='post.js')}}"></script>
<script src="{{url_for('static', filename='follow.js')}}"></script>
<script src="{{url_for('static', filename='config.js')}}"></script>
<body>
    <div class="container">
        <div class="row">
            <div id="repost" class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <a href="profile/{{ user.userId }}">{{user.displayName}}</a><br>
                <a href="profile/{{ user.userId }}">@{{user.username}}</a>
            </div>
            {% if userSession != None and userSession.user_id != post.userId %}
            <div class="col">
                <div class="follow-button-{{ user.userId }}">
                    {% if following %}
                        {% include 'unfollowbutton.html' %}
                    {% elif not following %}
                        {% include 'followbutton.html' %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                {{post.postText}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Likes: <lc class="like-count-{{ post.postId }}"> {{ post.likeCount }}</lc>
            </div>
            <div class="col">
                Reposts: <rc class="repost-count-{{ post.postId }}">{{ post.repostCount }}</rc>
                {{ post.likedPost }}
            </div>
        </div>
        {% if userSession != None %}
            <div class="row">
                <div class="col">
                    <div class="like-button-{{ post.postId }}">
                        {% if post.likesPost %}
                            {% include 'unlike-button.html' %}
                        {% else %}
                            {% include 'like-button.html' %}
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="repost-button-{{ post.postId }}">
                        {% if post.repostedPost %}
                            {% include 'unrepost-button.html' %}
                        {% else %}
                            {% include 'repost-button.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</body>