body {
    background-color: #193c13 !important;
    color: #F3E0F5;
  }
button{
    background-color: white;
    border-radius: 999px; !important;
    border-style: none;
    color: #193c13;
    font-weight: bold;
    padding:4px 16px 4px 16px;
}


.core{
    background-color: #176017;
    border-left: 4px solid #4e873e;
    border-right: 4px solid #4e873e;
    margin: 0% 30% 0% 30%;
    color: #F3E0F5;
    font-size: 14px;
    max-width: 600px;
    min-height: 100vh;

}

.post{
    border-bottom: #4e873e;
    border-bottom-style: dashed;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: row;
    img{
        width: inherit;
    }
    .pfp {
        margin-right: 15px;
        float: left;
        width: fit-content;
    }
    .rest-of-post{
        width: 100%;
        float:none;
        overflow: hidden;
    }
    .user{

        z-index: 1;
        display: flex;
        justify-content: space-between;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .image{
        width: 80%;
    }
    a {
        text-decoration: none;
    }

    .username{
        color: #8e8e8e;
    }
    .displayName{
        font-weight: bold;
        color: #ffffff;
    }
}

.thread{
    .post{
        border-bottom:none;

    }
    .thread-line{
        width: 2px;
        background-color: #4e873e;
        margin-left: 19px;
        height: 100%;
    }


}

.post-list-item:hover {
        cursor: pointer;
        background-color: #549343;
    }

.title{
    font-size: 48px;
    color: white;
    text-align: center;

}

.sidenav {
    height: 100%;
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

    a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: white;
        text-align:end;
    }

    a:hover {
        background-color: #176117;
    }
}


